.trip-planner {
  display: inline-block;
  position: relative;
  border: 1px solid #37adea;
  width: 50%;
  height: 77%;

  .map-options {
    button {
      padding: 12px 12px;
      margin: 10px 5px 10px 0px;
      display: inline-block;
      position: relative;
      border: 1px solid #1a55cb;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: #80d4ff;
    }

    button:hover {
      background-color: deepskyblue;
    }

    button:active {
      background-color: #0099cd;

    }
  }

  /*.save-button {
    padding: 12px 12px;
    margin: 10px 5px 10px 0px;
    display: inline-block;
    position: relative;
    border: 1px solid #1a55cb;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #80d4ff;
  }

  .save-button:hover {
    background-color: deepskyblue;
  }

  .save-button:active {
    background-color: #0099cd;
  }*/

  .trip-name-input {
    padding: 12px 12px;
    margin: 10px 5px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    border: 1px solid #1a55cb;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #80d4ff;
  }

  .trip-name-input:focus {
    background-color: deepskyblue;
  }

  .selectedLocations-list {
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #329dd4;
  }
}