.trip-planner {
  display: inline-block;
  position: relative;
  border: 1px solid #37adea;
  width: 100%;
  height: 50.5%;
  min-width: 100%;

  .map-options {
    min-width: 100%;
    overflow: hidden;

    button {
      padding: 10px 10px;
      margin: 10px 5px 10px 0px;
      display: inline-block;
      position: relative;
      border: 1px solid #1a55cb;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: #80d4ff;
    }

    button:hover {
      background-color: deepskyblue;
    }

    button:active {
      background-color: #0099cd;

    }

    .selected-locations-count {
      button:hover button:active {
        background-color: #80d4ff;
      }
    }

    .trip-name-input {
      width: 40%;
      padding: 10px 10px;
      margin: 10px 5px;
      margin-left: 10px;
      display: inline-block;
      position: relative;
      border: 1px solid #1a55cb;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: #80d4ff;
    }

    .trip-name-input:focus {
      background-color: deepskyblue;
    }

    .total-trip-distance,
    .selected-location-counter {
      padding: 12px 12px;
      margin: 10px 5px;
    }
  }

  /*.save-button {
    padding: 12px 12px;
    margin: 10px 5px 10px 0px;
    display: inline-block;
    position: relative;
    border: 1px solid #1a55cb;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #80d4ff;
  }

  .save-button:hover {
    background-color: deepskyblue;
  }

  .save-button:active {
    background-color: #0099cd;
  }*/

  .selectedLocations-list-div {
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #329dd4;
  }

  .selectedLocations-list {
    height: 88%;
  }
}