.one {
  display: inline-block;
  position: relative;
  .location-info-one {
    display: inline-block;
  }
}

.two {
  display: inline-block;
  position: relative;
  .location-info-two {
    display: inline-block;
  }
}