.location {
  display: flex;
  flex-direction: column;
  width: 38%;
  padding: 8px;
  border: 1px solid #1e62ea;
  border-radius: 8px;
  background-color: #80d4ff;

  h5 {
    font-weight: normal;
    margin: 0;
    font-size: 16px;
  }

  .other-info {
    color: grey;
  }

  .location-info {
    display: inline-block;
    position: relative;
    margin-left: 13px;
  }

  .add-button-div {
    display: inline-block;
  }

  .add-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
    float: left;
    height: 40px;
    position: relative;
  }

  .add-button:hover {
    background-color: #3bdf47;
    cursor: pointer;
  }
}

.location:hover {
  background-color: #78d8ff;
}