@import "Menu/LeftMenu/LocationSearch/Location/locations";
@import "Menu/LeftMenu/LocationSearch/location_search";
@import "Menu/LeftMenu/TripPlanner/trip_planner";
@import "Menu/LeftMenu/TripPlanner/SelectedLocation/selected_location.scss";
@import "Menu/RightMenu/SavedTrip/SavedTrip.scss";
@import "Menu/Menus";
@import './Itinerary/Itinerary.scss';
@import './Itinerary/Pair.scss';
*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: lightskyblue;
}

.planning-stuff {
  transition: margin .5s;
  position: relative;
}

.inner {
  position: static;
}

.testing {
  tab-index: 0;
}

.left-menu-button-div {
  position: absolute;
  left: 0;
  margin-top: 3%;
  transition: .5s;
  z-index: 1;
  background: rgba(0, 0, 0, 0.20);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.left-menu-button-div:hover {
  background: rgba(0, 0, 0, 0.35);
}

.left-menu-button-div:active {
  background: rgba(0, 0, 0, 0.50);
}

.left-menu-button  {
  float: left;
  font-size:30px;
  cursor:pointer;
  position: relative;
  z-index: 10;
  margin-left: 0;
  padding: 5px;
  padding-left: 0;
}

.right-menu-button-div {
  position: absolute;
  right: 0;
  margin-top: 3%;
  transition: .5s;
  z-index: 1;
  background: rgba(0, 0, 0, 0.20);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.right-menu-button-div:hover {
  background: rgba(0, 0, 0, 0.35);
}

.right-menu-button-div:active {
  background: rgba(0, 0, 0, 0.50);
}

.right-menu-button {
  float: right;
  font-size:30px;
  cursor:pointer;
  position: relative;
  z-index: 10;
  margin-right: 0;
  padding: 5px;
  padding-right: 0;
}

.top-menu-button-div {
  position: absolute;
  transition: .5s;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.20);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 50%;
}

.top-menu-button-div:hover {
  background: rgba(0, 0, 0, 0.35);
}

.top-menu-button-div:active {
  background: rgba(0, 0, 0, 0.50);
}

.top-menu-button  {
  font-size:30px;
  cursor:pointer;
  position: relative;
  z-index: 10;
  margin-left: 0;
  padding: 5px;
  padding-left: 0;
}

.bottom-menu-button-div {
  font-size:30px;
  cursor:pointer;
  position: absolute;
  z-index: 10;
  padding: 5px;
  bottom: 0;
  left: 50%;
}

.bottom-menu-button {
  position: relative;
}