.location_search {
  float: left;
  width: 30%;
  height: 100%;
  border: 1px solid #37adea;

  .locations-list-div {
    position: relative;
    height: 93%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .locations-list {
    border: 1px solid #329dd4;
  }
  .search-div {
    input {
      padding: 12px 20px;
      margin: 10px 10px;
      display: inline-block;
      position: relative;
      border: 1px solid #1a55cb;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: #80d4ff;
      width: 96%;
    }
    input:focus {
      outline: none;
      border-color: #333;
      background-color: deepskyblue;
    }
    /*input:hover {
      background-color: #2fd0ff;
    }*/
  }
}